.welcome-header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
  color: var(--black-color);
}

.welcome-header div:first-child {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.welcome-header div:last-child {
  font-size: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 5px;
}

#login-form input {
  width: 80vw;
  font-size: 18px;
  padding: 10px 0px;
  color: var(--black-color);
}

#login-form input:not([type='submit']) {
  border-bottom: 1px solid rgb(209, 209, 209);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

#login-form input:focus {
  border-color: var(--pink-color);
}

#login-form input:nth-child(3) {
  margin-top: 20px;
}

#login-form input[type='submit'] {
  background-color: var(--pink-color);
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 13px;
}

.find-account {
  margin-top: 20px;
  color: var(--black-color);
}
